<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tags="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>user info</title>
  <div tags:authorize="isAuthenticated()">
    Logged as: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/logout}" method="POST">
      <input type="submit" value="Logout"/>
    </form>
  </div>
</head>
<body>
<h2>user information</h2>

<table class="table">
  <br>

</table>

<table>

  <tbody>
  <tr>
    <th>Username</th>
    <td th:text="${user.username}"/>

  </tr>

  <tr>
    <th>Name</th>
    <td th:text="${user.name}"/>

  </tr>
  <tr>
    <th>Surname</th>
    <td th:text="${user.surname}"/>

  </tr>
  <tr>
    <th>Age</th>
    <td th:text="${user.age}"/>


  <tr>
    <th>Status</th>
    <td th:text="${role}"/>

  </tr>

  </tr>
  </tbody>
</table>
<br>

</body>
</html>